# This is a sample requirements file. Run this using the command: pip install -r requirements.txt. If Numpy is updated (> 1.19) by a specific package, downgrade the package and then the numpy installation.

asyncio==3.4.4
pillow==11.1.0
wheel==0.45.1

./numpy-1.24.1-cp310-cp310-win_amd64.whl"
./opencv_python-4.7.0.68-cp37-abi3-win_amd64.whl"
./Pillow-9.4.0-cp310-cp310-win_amd64.whl"
./pyserial-3.5-py2.py3-none-any.whl"
./six-1.16.0-py2.py3-none-any.whl"
./wxPython-4.2.0-cp310-cp310-win_amd64.whl"
./TeraFAST-4.2.5-py3-none-win_amd64.whl"

pypylon==4.1.0
keyboard==0.13.5
pynput==1.7.7
opencv-python==4.7.0.68
matplotlib==3.10.0
matlabengine==9.14.2
scikit-learn==1.6.1
ultralytics==8.3.68
datasets==3.2.0
tensorflow==2.14.0
shapely==2.0.6
PyWavelets==1.8.0
image_similarity_measures=0.3.6
pyssim=0.7.1